:root {
    --offcanvas-width: 270px;
    --topNavbar-height: 56px;
}

.sidebar-nav {
    width: var(--offcanvas-width) !important;
}

.sidebar-link {
    display: flex;
    align-items: center;
}

.sidebar-link .right-icon {
    display: inline-flex;
    transition: all ease 0.25s;
}

.sidebar-link[aria-expanded="true"] .right-icon {
    transform: rotate(180deg);
}

@media (min-width: 992px) {
    body {
        overflow: auto !important;
    }
    .offcanvas-backdrop::before {
        display: none !important;
    }
    main {
        margin-left: var(--offcanvas-width);
    }
    .sidebar-nav {
        transform: none !important;
        visibility: visible !important;
        top: var(--topNavbar-height) !important;
        height: calc(100% - var(--topNavbar-height)) !important;
    }
}

/* table controls */
.table-controls > li > a svg {
    color: #25d5e4;
}

.table-controls > li > a svg {
    color: #888ea8;
    width: 21px;
}

.table-controls li {
    list-style: none;
    display: inline;
}

.table-controls li svg {
    cursor: pointer;
    /* stroke-width: 1; */
    margin: 0;
    vertical-align: middle;
    cursor: pointer;
    color: #515365;
    stroke-width: 1.5;
    width: 28px;
    height: 28px;
}